<header class="site-header">

  <div class="wrapper">

    <div class="navbar navbar-static-top">
      <div class="container-fluid">
        <a href="/" class="navbar-home"><span>TAMARA FREEMAN</span><span>ACTOR</span></a>


        <div class="navbar-item-container">
          {% assign pages = site.pages | sort: 'navorder' %}
          {% for node in pages %}
            {% if node.group == "navigation" %}
              {% if page.url == node.url %}
                <a href="{{node.url}}" class="navbar-item selected">{{node.slug}}</a>
              {% else %}
                <a href="{{node.url}}" class="navbar-item">{{node.slug}}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

      </div>
    </div>

  </div>

</header>
