<header class="site-header">

  <div class="wrapper">

    <div class="navbar navbar-static-top">
      <div class="container-fluid">
        <a href="/" class="navbar-home"><span>TAMARA FREEMAN</span><span>ACTOR</span></a>

        <div class="navbar-item-container">
          <a href="/about" class="navbar-item">ABOUT</a>
          <a href="/demo" class="navbar-item">DEMO</a>
          <a href="/resume" class="navbar-item">RESUME</a>
          <a href="/gallery" class="navbar-item">GALLERY</a>
          <a href="/contact" class="navbar-item">CONTACT</a>
        </div>

      </div>
    </div>

  </div>

</header>
