html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $base-font-family;
    background-color: $background-color;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1;
    color: $dark-text-color;
    background-color: $nav-background-color;
    height: 76px;
    text-align: center;

    .container-fluid {
        @include vertical-align();
        width: 80%;
        @include media-query(920px) {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    a {
        color: $dark-text-color;
        text-decoration: none;
    }

    .navbar-home {
        float: left;

        @include media-query(920px) {
            float: initial;
        }
        
        :first-child {
            font-weight: bold;
            padding-right: 2px;
        }
    }

    .navbar-item-container {
        @include media-query(920px) {
            clear: both;
        }
    }

    .navbar-item {
        text-transform: uppercase;
        margin-left: 5%;
        font-weight: lighter;

        &:hover {
            color: lighten($dark-text-color, 50%);
            transition: color 0.3s;
        }

        &.selected {
            font-weight: normal;
        }
    }
}

h1 {
    font-family: 'eb garamond', serif;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #000000;
    color: $text-color;
    font-family: 'eb garamond', serif;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.lead {
    line-height: 0.5;
    text-align: center;
    @include strikes($text-color, 35%);
}

#body_home {
    .page-content {
        background-image: url('/img/index-header-bg.jpg');
        background-position: center;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        padding: 0;

        .container {
            @include vertical-align();
        }
    }
}

#body_about {
    .page-content {

        height: $body_content_height;

        .row {
            height: 100%;
        }

        .headshot {
            background: linear-gradient(
                            rgba(0, 0, 0, 0.2),
                            rgba(0, 0, 0, 0.3)
            ), url('/img/about-header.jpg');
            background-size: cover;
            background-position: center;
            height: 100%;
            @include media-query(767px) {
                height: 50%;
            }
        }
        .bio {
            padding: 20px 60px;
            color: $light-text-color;
            height: 100%;

            h1 {
                @include strikes($dark-text-color);
                color: $dark-text-color;
                margin-bottom: 40px;
                margin-top: 40px;
            }

            p {
                font-weight: lighter;
                font-size: 1.3rem;
            }

            @include media-query(767px) {
                text-align: center;
                padding-top: 0;
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
}

#body_gallery {
    #top-bg, #bottom-bg {
        position: absolute;
        background-image: linear-gradient(to top,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        left: 0;
        right: 0;
    }
    #top-bg {
        background-image: linear-gradient(to top,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        top: 0;
        bottom: 50vh;
    }
    #bottom-bg {
        background-image: linear-gradient(to bottom,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
        top: 50vh;
        bottom: 0;
    }


    #gallery {
        @include vertical-align(relative, 45%);

        .carousel-item {
            img {
                max-height: $body_content_height;
                margin: 0 auto;
            }
        }
    }
}