html {
    height: 100%;
}

body {
    height: 100%;
    font-family: $base-font-family;
    background-color: $background-color;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1;
    color: $dark-text-color;
    background-color: $nav-background-color;
    height: 76px;
    text-align: center;

    @include media-query(310px) {
        height: 100px;
    }

    .container-fluid {
        @include vertical-align();
        width: 80%;
        @include media-query(1140px) {
            width: 100%;
            padding: 0;
            margin: 0;
        }
    }

    a {
        color: $dark-text-color;
        text-decoration: none;
    }

    .navbar-home {
        float: left;

        @include media-query(940px) {
            float: initial;
        }
        
        :first-child {
            font-weight: bold;
            padding-right: 2px;
        }
    }

    .navbar-item-container {
        margin: 0 auto;

        @include media-query(940px) {
            clear: both;
        }

        @include media-query(620px) {
            max-width: 400px;
        }

        @include media-query(320px) {
            max-width: 280px;
        }
    }

    .navbar-item {
        text-transform: uppercase;
        font-weight: lighter;
        margin: 0 2.5%;

        &:hover {
            color: lighten($dark-text-color, 50%);
            transition: color 0.3s;
        }

        &.selected {
            font-weight: normal;
        }
    }

    .social {
        @include vertical-align(absolute);
        right: 0;
        font-size: 1.4rem;
        color: $dark-text-color;

        &:hover {
            color: lighten($dark-text-color, 30%);
            transition: color 0.3s;
        }
    }
}

h1 {
    font-family: 'eb garamond', serif;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #000000;
    color: $text-color;
    font-family: 'eb garamond', serif;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.lead {
    line-height: 0.5;
    text-align: center;
    @include strikes($text-color, 35%);
}

#body_home {
    .page-content {
        @include faded-image('/img/index-header-bg.jpg');
        background-position: center;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        padding: 0;

        .container {
            @include vertical-align();
        }
    }
}

#body_about {
    .page-content {

        height: $body_content_height;

        .row {
            height: 100%;
        }

        .headshot {
            background: url('/img/about-header.jpg');
            background-size: cover;
            background-position: top;
            height: 100%;
            @include media-query(767px) {
                height: 50%;
            }
        }
        .bio {
            padding: 20px 60px;
            color: $light-text-color;
            height: 100%;

            h1 {
                @include strikes($dark-text-color);
                color: $dark-text-color;
                margin-bottom: 40px;
                margin-top: 40px;
            }

            p {
                font-weight: lighter;
                font-size: 1.3rem;
            }

            @include media-query(767px) {
                text-align: center;
                padding-top: 0;
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
}

#body_gallery {
    #gallery {
        @include vertical-align(relative, 45%);

        .carousel-control {
            background: none;
            color: $dark-text-color;

            span {
                font-size: 4rem;
                margin-top: -40px;

                @include media-query(543px) {
                    font-size: 2rem;
                    margin-top: -18px;
                }
            }
        }

        .carousel-item {
            img {
                max-height: $body_content_height;
                margin: 0 auto;
            }
        }
    }
}

#body_contact {
    .page-content {

        height: $body_content_height;

        .row {
            height: 100%;
        }

        .headshot {
            background: url('/img/contact-header.jpg');
            background-size: cover;
            background-position: center;
            height: 100%;
            @include media-query(767px) {
                height: 50%;
            }
        }
        .contact {
            padding: 20px 60px;
            color: $light-text-color;

            h1 {
                @include strikes($dark-text-color);
                color: $dark-text-color;
                margin-bottom: 40px;
                margin-top: 40px;
            }

            p {
                font-weight: lighter;
                font-size: 1.3rem;
                margin: 0;
            }

            .social {
                font-size: 1.4rem;
                color: $dark-text-color;

                &:hover {
                    color: lighten($dark-text-color, 30%);
                    transition: color 0.3s;
                }
            }

            @include media-query(767px) {
                text-align: center;
                padding-top: 0;
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
}

#body_resume {
    .page-content {

        height: $body_content_height;

        .row {
            height: 100%;
        }

        .headshot {
            background: url('/img/resume-header.jpg');
            background-size: cover;
            background-position: top;
            height: 100%;
            @include media-query(767px) {
                height: 50%;
            }
        }
        .resume {
            color: $light-text-color;
            height: 100%;
            overflow-y: auto;



            .resume-header {
                position: relative;

                .download {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    font-size: 1.6rem;

                    &:hover {
                        color: lighten($link-color, 20%);
                        transition: color 0.3s;
                    }
                }

                h1 {
                    @include strikes($dark-text-color);
                    color: $dark-text-color;
                    margin-bottom: 20px;
                    margin-top: 20px;

                    a {
                        color: $dark-text-color;
                    }
                }
            }

            .resume-preview {
                width: 100%;
            }

            @include media-query(767px) {
                text-align: center;
                padding-top: 0;
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
}

#body_demo {

    h1 {
        @include strikes($dark-text-color);
        color: $dark-text-color;
        margin-bottom: 40px;
        margin-top: 40px;
    }

    .video, .audio {
        text-align: center;
        margin-top: 60px;
    }

    .embed {
        width: 100%;
        max-width: 100%;
    }
}

#body_upcoming {
    .page-content {

        height: $body_content_height;

        .row {
            height: 100%;
        }

        .headshot {
            background: url('/img/upcoming-header.jpg');
            background-size: cover;
            background-position: top;
            height: 100%;
            @include media-query(767px) {
                height: 50%;
            }
        }
        .upcoming {
            padding: 0px 60px;
            color: $light-text-color;

            h1 {
                @include strikes($dark-text-color);
                color: $dark-text-color;
                margin-bottom: 30px;
                margin-top: 30px;

                &.production {
                    font-size: 1.5em;
                    margin-bottom: 10px;
                }
            }

            p {
                font-weight: lighter;
                font-size: 1.3rem;
                margin: 0;
                text-align: center;
            }

            @include media-query(767px) {
                text-align: center;
                padding-top: 0;
                h1 {
                    margin: 20px 0;
                }
            }
        }
    }
}