html {
    height: 100%;
}

body {
    height: 100%;
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1;
    background-color: white;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
    color: #fff;
    font-family: 'eb garamond', serif;
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

.lead {
    line-height: 0.5;
    text-align: center;

    span {
        display: inline-block;
        position: relative;
        &:before, &:after {
            content: "";
            position: absolute;
            height: 5px;
            border-bottom: 1px solid white;
            border-top: 1px solid white;
            top: 35%;
            width: 25px;
        }

        &:before {
            right: 100%;
            margin-right: 5px;
        }

        &:after {
            left: 100%;
            margin-left: 5px;
        }
    }
}

#body_home {
    .page-content {
        background-image: url('/img/index-header-bg.jpg');
        background-position: center;
        border-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 100vh;
        padding: 0;

        .container {
            @include vertical-align();
        }
    }
}